<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">
        Twitter-Bot
      </span>
    </div>

    <ul class="nav navbar-nav">
		<li>{{#link-to 'tweets'}} Nav-Bar item {{/link-to}} </li>
    </ul>

  </div>
</nav>

{{outlet}}
